@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

<div class="portlet light margin-bottom-0" style="    padding: 0 !important;" >
    <div class="portlet-body">
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Selecione uma solicitação"))
        <div class="modal-body container-fluid">
            <div id="selecionarSolicitacaoTable"></div>
        </div>
    </div>
</div>



