@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.CentrosCustos.CriarOuEditarCentroCustoModalViewModel


@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCentroCusto") + ": " + Model.Descricao) : L("CreateNewCentroCusto")))

<div class="modal-body">

    @*<div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#CentroCustoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("CentroCusto")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="CentroCustoInformationsTab">*@

    <form name="CentroCustoInformationsForm" role="form" novalidate class="form-validation">

        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
        }

        @using (Html.Row())
        {
            Html.InputFor(m => m.Codigo, Model.Codigo, L("Codigo"), 3);
            Html.InputFor(m => m.Descricao, Model.Descricao, L("Descricao"), 9, required: true);
        }

        @using (Html.Row())
        {
            using (Html.Select2For(m => m.UnidadeOrganizacionalId, "unidade-organizacional", "unidadeOrganizacional", L("UnidadeOrganizacional"), Model.UnidadeOrganizacionalId.ToString(), Model.UnidadeOrganizacional != null ? Model.UnidadeOrganizacional.Descricao : "Selecione", "unidadeOrganizacional/ListarDropdown", "", 6)) { }
            using (Html.Select2For(m => m.GrupoCentroCustoId, "grupo-centro-custo", "grupoCentroCusto", L("GrupoCentroCusto"), Model.GrupoCentroCustoId.ToString(), Model.GrupoCentroCusto != null ? Model.GrupoCentroCusto.Descricao : "Selecione", "grupoCentroCusto/ListarDropdown", "", 6, required:true)) { }
        }

        <br />

        @using (Html.Row())
        {
            Html.CheckboxSWFor(m => m.IsAtivo, "is-ativo", L("Ativo"), Model.IsAtivo, 4);
            Html.CheckboxSWFor(m => m.IsReceberLancamento, "is-receber-lancamento", L("IsReceberLancamento"), Model.IsReceberLancamento, 4);
            Html.CheckboxSWFor(m => m.IsFaturamento, "is-faturamento", L("IsFaturamento"), Model.IsFaturamento, 4);
        }

      
    </form>
</div>
@*</div>
        </div>
    </div>*@


@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
