@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model  SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Impressoras.ImprimirMultiplosViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Imprimir Multiplos") + ":" + Model.Name))

<div class="modal-body">
    <form name="imprimirMultiplosForm" id="imprimirMultiplosForm" role="form" class="form-validation">
        <div class="row">
            <input type="hidden" name="targetAction" id="imprimirMultiplosFormTargetAction" value="@Model.TargetAction"/>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>@L("Quantidade de copias")</label>
                    <input type="number" name="qty" id="imprimirMultiplosFormQty" class="form-control" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default close-button" style="width: auto;" data-dismiss="modal">@L("Cancel")</button>
            <button type="button" class="btn blue save-button" style="width: auto;"><i class="fa fa-print"></i> <span>Imprimir</span></button>
        </div>
    </form>
</div>


