@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Printers")))

<div class="modal-body">
    <form name="impressoraForm" id="impressoraForm" role="form" class="form-validation">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>@L("Impressora Laboratorio")</label>
                    <input type="text" name="impressora_laboratorio" class="form-control" />
                </div>
            </div>
        </div>
        @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
    </form>
</div>


