@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Pacientes.PacientesViewModel

<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="PacientesFilterForm" class="horizontal-form">
                <div class="form-body" enter-key="vm.getPacientes()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="PacientesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetPacientesButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="PacientesTable"></div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        var _$pacientesTable = $('#PacientesTable');
        var _pacientesService = abp.services.app.paciente;
        var _$filterForm = $('#PacientesFilterForm');

        var _permissions = {
            create: abp.auth.hasPermission('Pages.Tenant.Cadastros.CadastrosGlobais.Paciente.Create'),
            edit: abp.auth.hasPermission('Pages.Tenant.Cadastros.CadastrosGlobais.Paciente.Edit'),
            'delete': abp.auth.hasPermission('Pages.Tenant.Cadastros.CadastrosGlobais.Paciente.Delete')
        };

        _$pacientesTable.jtable({
            title: app.localize('Pacientes'),
            paging: true,
            sorting: true,
            multiSorting: true,

            actions: {
                listAction: {
                    method: _pacientesService.listarParaIndex
                }
            },
            fields: {
                id: {
                    key: true,
                    list: false
                },
                actions: {
                    title: app.localize('Actions'),
                    width: '12%',
                    sorting: false,
                    display: function (data) {
                        var $span = $('<span></span>');
                        if (_permissions.edit) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Edit') + '"><i class="fa fa-edit"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    _createOrEditModal.open({ id: data.record.id });
                                });
                        }
                        if (_permissions.delete) {
                            $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-alt"></i></button>')
                                .appendTo($span)
                                .click(function () {
                                    deletePacientes(data.record);
                                });
                        }
                        $('<button class="btn btn-default btn-xs" title="' + app.localize('AtenderPaciente') + '"><i class="glyphicon glyphicon-hand-up"></i></button>')
                           .appendTo($span)
                           .click(function () {
                               atenderPaciente(data.record.id);
                           });
                        return $span;
                    }
                }
                ,
                senha: {
                    title: app.localize('Senha'),
                    width: '15%'
                }
                ,
                nomeCompleto: {
                    title: app.localize('NomeCompleto'),
                    width: '15%'
                }
                ,
                nascimento: {
                    title: app.localize('Nascimento'),
                    width: '8%',
                    display: function (data) {
                        return moment(data.record.nascimento).format('L');
                    }
                }
                ,
                rg: {
                    title: app.localize('Rg'),
                    width: '8%'
                }
                ,
                cpf: {
                    title: app.localize('Cpf'),
                    width: '8%'
                }
                ,

                telefone: {
                    title: app.localize('Telefone'),
                    sorting: false,
                    width: '15%',
                    display: function (data) {
                        return data.record.telefone1;
                    }
                }
            }
        });

        function atenderPaciente(pacienteId) {
            $('#paciente-selecionado-id').attr('data', pacienteId);

        }

        function getPacientes(reload) {
            if (reload) {
                _$pacientesTable.jtable('reload');
            } else {
                _$pacientesTable.jtable('load', {
                    filtro: $('#PacientesTableFilter').val()
                });
            }
        }

        function deletePacientes(Paciente) {
            abp.message.confirm(
                app.localize('DeleteWarning', Paciente.primeiroNome),
                function (isConfirmed) {
                    if (isConfirmed) {
                        _pacientesService.excluir(Paciente)
                            .done(function () {
                                getPacientes(true);
                                abp.notify.success(app.localize('SuccessfullyDeleted'));
                            });
                    }
                }
            );
        }

        //function createRequestParams() {
        //    var prms = {};
        //    _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
        //    return $.extend(prms);
        //}

        //$('#ShowAdvancedFiltersSpan').click(function () {
        //    $('#ShowAdvancedFiltersSpan').hide();
        //    $('#HideAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideDown();
        //});

        //$('#HideAdvancedFiltersSpan').click(function () {
        //    $('#HideAdvancedFiltersSpan').hide();
        //    $('#ShowAdvancedFiltersSpan').show();
        //    $('#AdvacedAuditFiltersArea').slideUp();
        //});

        //$('#CreateNewPacienteButton').click(function () {
        //    _createOrEditModal.open();
        //});

        //$('#ExportarPacientesParaExcelButton').click(function () {
        //    _pacientesService
        //        .listarParaExcel({
        //            filtro: $('#PacientesTableFilter').val(),
        //            //sorting: $(''),
        //            maxResultCount: $('span.jtable-page-size-change select').val()
        //        })
        //        .done(function (result) {
        //            app.downloadTempFile(result);
        //        });
        //});

        $('#GetPacientesButton, #RefreshPacientesListButton').click(function (e) {
            e.preventDefault();
            getPacientes();
        });

        //abp.event.on('app.CriarOuEditarPacienteModalSaved', function () {
        //    getPacientes(true);
        //});

        getPacientes();

        $('#PacientesTableFilter').focus();
    });

</script>
