
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Produtos.CriarOuEditarProdutoModalViewModel

<button id="btn-adicionar-laboratorio" class="btn blue"><i class="fa fa-plus"></i> @L("AdicionarLaboratorio")</button>
<div id="LaboratorioTable"></div>
