@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals.ModalHeaderViewModel
<div class="portlet-header">
    <div class="align-left">
        <h4 class="modal-title">
            <span>@Html.Raw(Model.Title)</span>
        </h4>
    </div>
</div>
