@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Faturamento.CotacaoMoeda.FaturamentoCotacaoMoedaViewModel

<form id="div-Cotacoes-form" name="CotacoesForm" role="form" novalidate class="form-validation">

    @using (Html.Row())
    {
        <div id="div-cotacao-contorno" class="contorno-placebo">

            @using (Html.Row())
            {
                using (Html.Col("sm", 12))
                {
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="sw-form-cabecalho" id="cabec-cotacao">
                                    <span class="sw-form-titulo" id="titulo-cotacao">@L("NovoRegistro")</span>
                                    <span class="sw-form-btn" id="btn-remover-selecao-cotacao"><i class="fa fa-close sw-form-btn-icone"></i></span>
                                    <span class="sw-form-btn" id="btn-apagar-cotacao"><i class="fa fa-trash-alt sw-form-btn-icone"></i></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            }

            @using (Html.Row())
            {
                <input type="hidden" id="cotacao-id" name="Id" />
                Html.SWInput(new SWTag("cotacao-descricao", "Descricao", L("Descricao"), value: Model.Descricao, col: 3));
                Html.Select2For(m => m.SisMoedaId, "cbo-cotacao-moeda", "moedaSel2", L("Moeda"), "", "", "SisMoeda/ListarDropdown", "moeda-id", 3, required: false);
                Html.SWInput(new SWTag("cotacao-valor", "Valor", L("Valor"), value: Model.Valor.ToString(), col: 1, classeCss: "cotacao-valor-input", classeLabel: "cotacao-valor-label"));

                string dataInicioValue = Model.DataInicio.ToString();
                if (string.IsNullOrEmpty(dataInicioValue))
                {
                    dataInicioValue = DateTime.Now.ToString("dd/MM/yyyy");
                }

                Html.SWDatePicker(new SWTag("cotacao-data-inicio", "DataInicio", L("DataInicio"), value: dataInicioValue, col: 2));
                Html.SWDatePicker(new SWTag("cotacao-data-fim", "DataFim", L("DataFim"), value: Model.DataFinal.ToString(), col: 2));
            }

            @using (Html.Row())
            {
                using (Html.Col("sm", 2))
                {
                    <fieldset style="padding:15px;">
                        <legend class="legendform">Configuração</legend>
                        @using (Html.Row())
                        {
                            //Html.CheckboxSW("IsTodosConvenio", "cotacao-is-todos-convenio", L("IsTodosConvenio"), Model.IsTodosConvenio, col: 12);
                            Html.CheckboxSW("IsTodosItem", "cotacao-is-todos-item", L("IsTodosItem"), Model.IsTodosItem, col: 12);
                            Html.CheckboxSW("IsTodosPlano", "cotacao-is-todos-plano", L("IsTodosPlano"), Model.IsTodosPlano, col: 12);
                        }
                    </fieldset>
                }

                using (Html.Col("sm", 9))
                {
                    using (Html.Row())
                    {
                        var empresaValue = Model.Empresa != null ? Model.Empresa.Id.ToString() : "";
                        var empresaText = Model.Empresa != null ? Model.Empresa.NomeFantasia : "";
                        Html.Select2For(m => m.EmpresaId, "cbo-cotacao-empresas", "empresasSel2", L("Empresa"), empresaValue, empresaText, "empresa/listarDropdownPorUsuario", "", 6, required: true);
                        Html.Select2For(m => m.PlanoId, "cbo-cotacao-planos", "planosSel2", L("Plano"), "", "", "plano/listarPorConvenioDropdown", "convenio-id", 6, required: false);

                    }
                    using (Html.Row())
                    {
                        Html.Select2For(m => m.GrupoId, "cbo-cotacao-grupos", "gruposSel2", L("Grupo"), "", "", "faturamentoGrupo/listarDropdown", "", 6, required: true);
                        Html.Select2For(m => m.SubGrupoId, "cbo-cotacao-subgrupos", "subgruposSel2", L("SubGrupo"), "", "", "faturamentoSubGrupo/listarParaGrupoObrigatorio", "cbo-grupos", 6, required: false);
                    }
                }

                using (Html.Col("sm", 1))
                {
                    using (Html.Row())
                    {
                        using (Html.Col("sm", 12))
                        {
                            <button type="button" class="btn blue" id="btn-salvar-cotacao" style="position: relative; top: 55px; height: 60px; width: 60px;"><i id="icone-btn-salvar-cotacao" class="fa fa-plus"></i></button>
                        }
                    }
                }
            }

        </div>
    }



    @using (Html.Row())
    {
        <div id="cotacaoTable" class="text-center"></div>
    }

</form>

<script>

    $('#btn-apagar-cotacao').fadeOut();

    // JTable Cotacoes
    var _$cotacaoTable = $('#cotacaoTable');
    var moedaCotacaoService = abp.services.app.sisMoedaCotacao;

    var lista = [];
    var listaLocais = [];
    var listaGrupos = [];
    var listaTurnos = [];
    var listaTiposLeitos = [];
    var listaItems = [];


    //var _$filterForm = $('#FaturamentoTabelasFilterForm');

    //var _permissions = {
    //    create: abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.Tabelas.Create'),
    //    edit: abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.Tabelas.Edit'),
    //    'delete': abp.auth.hasPermission('Pages.Tenant.Cadastros.Faturamento.Tabelas.Delete')
    //};

    // var convenioId = $('#convenio-id').val();

    _$cotacaoTable.jtable({
        title: app.localize('Cotaca Moeda'),
        paging: true,
        sorting: true,
        multiSorting: true,
        selecting: true,
        selectingCheckboxes: true,

        actions: {
            listAction: {
                method: moedaCotacaoService.listarTable
            }
        },
        fields: {
            id: {
                key: true,
                list: false
            },
            actions: {
                title: app.localize('Actions'),
                width: '7%',
                sorting: false,
                display: function (data) {
                    var $span = $('<span></span>');
                    return $span;
                }
            }
            ,
            descricao: {
                title: app.localize('Descricao'),
                width: '10%',
                display: function (data) {
                    // concatenar com codigo
                    return data.record.descricao;
                }
            }
            ,
            dataInicio: {
                title: app.localize('DataInicio'),
                width: '8%',
                display: function (data) {
                    if (data.record.dataInicio) {
                        return moment(data.record.dataInicio).format('L');
                    }
                }
            }
            ,
            dataFinal: {
                title: app.localize('DataFim'),
                width: '8%',
                display: function (data) {
                    if (data.record.dataFinal) {
                        return moment(data.record.dataFinal).format('L');
                    }
                }
            },
            "plano.descricao": {
                title: app.localize('Plano'),
                width: '10%',
                display: function (data) {
                    if (data.record.plano) {
                        return data.record.plano.descricao;
                    }
                }
            },
            "grupo.descricao": {
                title: app.localize('Grupo'),
                width: '10%',
                display: function (data) {
                    if (data.record.grupo) {
                        return data.record.grupo.descricao;
                    }
                }
            },
            "subGrupo.descricao": {
                title: app.localize('Sub Grupo'),
                width: '10%',
                display: function (data) {
                    if (data.record.subGrupo) {
                        return data.record.subGrupo.descricao;
                    }
                }
            },
            "sisMoeda.descricao": {
                title: app.localize('Moeda'),
                width: '10%',
                display: function (data) {
                    if (data.record.sisMoeda) {
                        return data.record.sisMoeda.descricao;
                    }
                }
            },
            valor: {
                title: app.localize('Valor'),
                width: '10%',
                display: function (data) {
                    return data.record.valor
                }
            }
        },

        selectionChanged: function () {
            var CotacoesSelecionadas = _$cotacaoTable.jtable('selectedRows');

            if (CotacoesSelecionadas.length > 0) {
                CotacoesSelecionadas.each(function () {
                    var record = $(this).data('record');

                    $("#cotacao-id").val(record.id);

                    if (record.descricao)
                        $("#cotacao-descricao").val(record.descricao);
                    else
                        $("#cotacao-descricao").val('');

                    if (record.valor)
                        $("#cotacao-valor").val(record.valor);
                    else
                        $("#cotacao-valor").val('');
                    if (record.dataInicio)
                        $("#cotacao-data-inicio").val(moment(record.dataInicio).format('L'));
                    else
                        $("#cotacao-data-inicio").val(moment(new Date()).format('L'));

                    if (record.dataFinal)
                        $("#cotacao-data-fim").val(moment(record.dataFinal).format('L'));
                    else
                        $("#cotacao-data-fim").val('');

                    if (record.sisMoedaId) {
                        SmweSavior.setCombo($('#cbo-cotacao-moeda'), record.sisMoedaId, abp.services.app.sisMoeda);
                    } else {
                        $('#cbo-cotacao-moeda').swCboReset();
                    }
                    if (record.empresaId) {
                        SmweSavior.setCombo($('#cbo-cotacao-empresas'), record.empresaId, abp.services.app.empresa);
                    }
                    else {
                        $('#cbo-cotacao-empresas').swCboReset();
                    }

                    if (record.planoId) {
                        SmweSavior.setCombo($('#cbo-cotacao-planos'), record.planoId, abp.services.app.plano);
                    }
                    else {
                        $('#cbo-cotacao-planos').swCboReset();
                    }

                    if (record.grupoId) {
                        SmweSavior.setCombo($('#cbo-cotacao-grupos'), record.grupoId, abp.services.app.faturamentoGrupo);
                    }
                    else {
                        $('#cbo-cotacao-grupos').swCboReset();
                    }

                    if (record.subGrupoId) {
                        SmweSavior.setCombo($('#cbo-cotacao-subgrupos'), record.subGrupoId, abp.services.app.faturamentoSubGrupo);
                    }
                    else {
                        $('#cbo-cotacao-subgrupos').swCboReset();
                    }


                    $('#div-cotacao-contorno').removeClass('contorno-placebo');
                    $('#div-cotacao-contorno').addClass('contornado');
                    $('#icone-btn-salvar-cotacao').removeClass('fa fa-plus');
                    $('#icone-btn-salvar-cotacao').addClass('glyphicon glyphicon-edit');
                    $('#btn-apagar-cotacao').fadeIn();
                    $('#titulo-cotacao').html('@L("Editando")');
                    //    $('#cabec-cotacao').addClass('titulo-azul');



                    $('#cotacao-is-todos-item')[0].checked = record.isTodosItem;
                    $('#cotacao-is-todos-plano')[0].checked = record.isTodosPlano;


                });
            } else {
                // Resetar form
                resetarFormCotacoes();
            }
        }
    });

    // Setar e resetar form
    function setarSel2Cotacoes(comboSel2, id, servico) {
        servico.obter(id)
            .done(function (data) {
                var option = new Option(data.descricao || data.nomeFantasia, data.id, true, true);
                comboSel2.append(option).trigger('change');
                comboSel2.trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });
            });
    }

    // Resetar todos elementos form
    function resetarFormCotacoes() {
        $('#titulo-cotacao').html('@L("NovoRegistro")');
        //   $('#cabec-cotacao').removeClass('titulo-azul');

        $("#cotacao-data-inicio").val(moment(new Date()).format('L'));
        $("#cotacao-data-fim").val('');
        $('#cbo-Cotacoes-empresas').empty().trigger('change');
        $("#cotacao-descricao").val('');
        $("#cotacao-valor").val('');
        $('#icone-btn-salvar-cotacao').removeClass('glyphicon glyphicon-edit');
        $('#icone-btn-salvar-cotacao').addClass('fa fa-plus');

        $('#div-cotacao-contorno').removeClass('contornado');
        $('#div-cotacao-contorno').addClass('contorno-placebo');

        $('#btn-apagar-cotacao').fadeOut();

        $('#cbo-cotacao-moeda').swCboReset();
        $('#cbo-cotacao-empresas').swCboReset();
        $('#cbo-cotacao-planos').swCboReset();
        $('#cbo-cotacao-grupos').swCboReset();
        $('#cbo-cotacao-subgrupos').swCboReset();
        


        $('#cotacao-is-todos-item')[0].checked = false;
        $('#cotacao-is-todos-plano')[0].checked = false;


        $('#cotacao-id').val('');


    }

    function getCotacoes(reload) {
        if (reload) {
            _$cotacaoTable.jtable('reload');
        } else {

            _$cotacaoTable.jtable('load', {
                //   filtro: $('#FaturamentoTabelasTableFilter').val()
                convenioId: $('#convenio-id').val(),
            });
        }
    }


    //$("#btn-apagar-cotacao").on("click", function(){
    //    var cotacoesSelecionada = _$cotacaoTable.jtable('selectedRows');
    //    if (cotacoesSelecionada.length) {
    //        deleteCotacao($($('#cotacaoTable').jtable('selectedRows')[0]).data("record"))
    //    }
    //})

    function deleteCotacao(cotacao) {
        
        const btn = $("#btn-apagar-cotacao");
        btn.buttonBusy(true);

        abp.message.confirm(
            app.localize('DeleteWarning', cotacao.descricao),
            function (isConfirmed) {
                if (isConfirmed) {
                    moedaCotacaoService.excluir(cotacao)
                        .done(function () {
                            abp.notify.success(app.localize('SuccessfullyDeleted'));
                        }).always(() => {
                            btn.buttonBusy(false);
                            getCotacoes(true);
                        });
                }
                else {
                    btn.buttonBusy(false);
                }
            }
        );
    }

    function createRequestParams() {
        var prms = {};
        _$filterForm.serializeArray().map(function (x) { prms[x.name] = x.value; });
        return $.extend(prms);
    }


    getCotacoes();

    // Salvar cotacao
    $('#btn-salvar-cotacao').on('click', function () {

        var cotacao = {
            Codigo: $("#cotacao-codigo").val(),
            Descricao: $("#cotacao-descricao").val(),
            DataInicio: $('#cotacao-data-inicio').val(),
            DataFinal: $('#cotacao-data-fim').val(),
            Percentual: $('#cotacao-percentual').val(),
            IsTodosItem: $('#cotacao-is-todos-item')[0].checked,
            IsTodoPlano: $('#cotacao-is-todos-plano')[0].checked,
            EmpresaId: $('#cbo-cotacao-empresas').val(),
            PlanoId: $('#cbo-cotacao-planos').val(),
            ConvenioId: $('#convenio-id').val(),
            GrupoId: $('#cbo-cotacao-grupos').val(),
            SubGrupoId: $('#cbo-cotacao-subgrupos').val(),
            sisMoedaId: $('#cbo-cotacao-moeda').val(),
            valor: $("#cotacao-valor").val(),
            Id: $('#cotacao-id').val()
        }

        moedaCotacaoService.criarOuEditar(cotacao)
            .done(function (res) {
                if (res.errors) {
                    abp.notify.error(res.errors[0].descricao);
                    return;
                }

                abp.notify.info(app.localize('SavedSuccessfully'));
                resetarFormCotacoes();
                getCotacoes();
            });
    });


    $("#btn-apagar-cotacao").on('click', function () {
        debugger;
        const btn = $(this);
        const selectedRows = _$cotacaoTable.jtable('selectedRows');
        btn.buttonBusy(true);
        if (!selectedRows.length) {
            abp.notify.info("selecione uma cotacao")
            btn.buttonBusy(false);
        }

        const cotacao = $(selectedRows[0]).data('record')
        abp.message.confirm(
            app.localize('DeleteWarning', cotacao.descricao),
            function (isconfirmed) {
                if (isconfirmed) {
                    const data = {
                        id: cotacao.id
                    };
                    moedaCotacaoService.excluir(data).then(() => {
                        abp.notify.success("cotacao excluída com sucesso.");
                        resetarFormCotacoes();
                        getCotacoes();
                    }).always(() => {
                        btn.buttonBusy(false);
                    })

                }
                else {
                    btn.buttonBusy(false);
                }
            })
    })

    // Remover selecao
    $('#btn-remover-selecao-cotacao').on('click', function () {
        $('#cotacaoTable .jtable-row-selected').click();
    });

    $('#cotacao-percentual').css('width', '40px');
    $('#cotacao-percentual').css('display', 'inline-block');
    $('#cotacao-percentual').parent().append("<b> %</b>");



    function selecionar(campo, id, descricao) {
        $('#' + campo).append($("<option>").val(id)
                                           .text(descricao)
                             )
                     .val(id)
                     .trigger("change");
    }


    //////////////////Empresas/////////////////////////////

    var _$empresasTable = $('#empresasTable');

    _$empresasTable.jtable({
        title: app.localize('Empresas'),
        //paging: true,
        sorting: true,
        edit: false,
        create: false,
        multiSorting: true,
        selecting: true,
        selectingCheckboxes: true,

        //rowInserted: function (event, data) {
        //
        //    // if (data.record.Name.indexOf('Andrew') >= 0) {
        //    _$empresasTable.jtable('selectRows', data.row);
        //    // }
        //},



        fields:
        {
            Id: {
                key: true,
                list: false
            },
            actions: {
                title: app.localize('Actions'),
                width: '7%',
                sorting: false,
                display: function (data) {
                    var $span = $('<span></span>');

                    $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-alt"></i></button>')
                      .appendTo($span)
                      .click(function (e) {
                          e.preventDefault();
                          deleteEmpresa(data.record);
                      });

                    return $span;
                }
            },

            descricao: {
                title: app.localize('Empresa'),
                width: '10%',
                display: function (data) {
                    if (data.record) {

                        return data.record.Descricao;
                    }
                }
            },

            //IdGrid: {
            //    title: app.localize('IdGrid'),
            //    width: '10%',
            //    display: function (data) {
            //        if (data.record) {
            //
            //            return data.record.IdGrid;
            //        }
            //    }
            //},
        }
    });

    _$empresasTable.wrap('<div class="scroll-content sw-scroll" />');

    function getEmpresasTable(reload) {



        if (lista != undefined) {


            for (var i = 0; i < lista.length; i++) {
                //            if (lista[i].IdGrid == subGrupo.IdGrid) {
                //  lista.splice(i, 1);
                // $('#subGrupos').val(JSON.stringify(lista));

                _$empresasTable.jtable('deleteRecord', {
                    key: lista[i].Id
                    , clientOnly: true
                });

                //            break;
                //          }
            }

        }

        if ($('#empresas').val() != '') {

            lista = JSON.parse($('#empresas').val());

            //var allRows = _$empresasTable.jtable('selectedRows');

            //if (allRows.length > 0) {

            //    for (var i = 0; i < allRows.length; i++) {

            //        _$empresasTable.jtable('deleteRecord', {  key: allRows[i].Id, clientOnly: true });
            //    }
            //}

            for (var i = 0; i < lista.length; i++) {
                var item = lista[i];
                _$empresasTable.jtable('addRecord', {
                    record: item
                    , clientOnly: true
                });
            }
        }
    }

    //getEmpresasTable();

    $('#btnSalvarEmpresa').on('click', function () {
        var cotacaoRelacionamento = { RelacionadoId: 0, Descricao: "" };

        var empresa = $('#cbo-Cotacoes-empresas').select2('data');
        if (empresa && empresa.length > 0) {
            cotacaoRelacionamento.Descricao = empresa[0].text;
        }
        cotacaoRelacionamento.RelacionadoId = $('#cbo-Cotacoes-empresas').val();




        if ($('#empresas').val() != '') {
            lista = JSON.parse($('#empresas').val());
        }


        cotacaoRelacionamento.Id = lista.length == 0 ? 1 : lista[lista.length - 1].Id + 1;

        lista.push(cotacaoRelacionamento);

        _$empresasTable.jtable('addRecord', {
            record: cotacaoRelacionamento
                    , clientOnly: true
        });

        $('#empresas').val(JSON.stringify(lista));

        $('#cbo-Cotacoes-empresas').val('').trigger('change');

    });

    function deleteEmpresa(empresa) {
        abp.message.confirm(
            app.localize('DeleteWarning', empresa.Descricao),
            function (isConfirmed) {
                if (isConfirmed) {


                    lista = JSON.parse($('#empresas').val());

                    for (var i = 0; i < lista.length; i++) {
                        if (lista[i].Id == empresa.Id) {
                            lista.splice(i, 1);
                            $('#empresas').val(JSON.stringify(lista));

                            _$empresasTable.jtable('deleteRecord', {
                                key: empresa.Id
                            , clientOnly: true
                            });

                            break;
                        }
                    }
                }
            }
        );
    }


    ///////////////////////Locais/////////////////////

    var _$locaisTable = $('#locaisTable');

    _$locaisTable.jtable({
        title: app.localize('Locais'),
        //paging: true,
        sorting: true,
        edit: false,
        create: false,
        multiSorting: true,
        selecting: true,
        selectingCheckboxes: true,

        //rowInserted: function (event, data) {
        //
        //    // if (data.record.Name.indexOf('Andrew') >= 0) {
        //    _$locaisTable.jtable('selectRows', data.row);
        //    // }
        //},



        fields:
        {
            Id: {
                key: true,
                list: false
            },
            actions: {
                title: app.localize('Actions'),
                width: '7%',
                sorting: false,
                display: function (data) {
                    var $span = $('<span></span>');

                    $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-alt"></i></button>')
                      .appendTo($span)
                      .click(function (e) {
                          e.preventDefault();
                          deleteLocal(data.record);
                      });

                    return $span;
                }
            },

            descricao: {
                title: app.localize('Local'),
                width: '10%',
                display: function (data) {
                    if (data.record) {

                        return data.record.Descricao;
                    }
                }
            },

            //IdGrid: {
            //    title: app.localize('IdGrid'),
            //    width: '10%',
            //    display: function (data) {
            //        if (data.record) {
            //
            //            return data.record.IdGrid;
            //        }
            //    }
            //},
        }
    });

    _$locaisTable.wrap('<div class="scroll-content sw-scroll" />');

    function getLocaisTable(reload) {



        if (listaLocais != undefined) {


            for (var i = 0; i < listaLocais.length; i++) {
                //            if (lista[i].IdGrid == subGrupo.IdGrid) {
                //  lista.splice(i, 1);
                // $('#subGrupos').val(JSON.stringify(lista));

                _$locaisTable.jtable('deleteRecord', {
                    key: listaLocais[i].Id
                    , clientOnly: true
                });

                //            break;
                //          }
            }

        }

        if ($('#locais').val() != '') {

            listaLocais = JSON.parse($('#locais').val());

            //var allRows = _$empresasTable.jtable('selectedRows');

            //if (allRows.length > 0) {

            //    for (var i = 0; i < allRows.length; i++) {

            //        _$empresasTable.jtable('deleteRecord', {  key: allRows[i].Id, clientOnly: true });
            //    }
            //}

            for (var i = 0; i < listaLocais.length; i++) {
                var item = listaLocais[i];
                _$locaisTable.jtable('addRecord', {
                    record: item
                    , clientOnly: true
                });
            }
        }
    }

    $('#btnSalvarLocal').on('click', function () {
        var cotacaoRelacionamento = { RelacionadoId: 0, Descricao: "" };

        var unidadeOrganizacional = $('#cbo-Cotacoes-unidade-organizacional').select2('data');
        if (unidadeOrganizacional && unidadeOrganizacional.length > 0) {
            cotacaoRelacionamento.Descricao = unidadeOrganizacional[0].text;
        }
        cotacaoRelacionamento.RelacionadoId = $('#cbo-Cotacoes-unidade-organizacional').val();

        if ($('#locais').val() != '') {
            listaLocais = JSON.parse($('#locais').val());
        }

        cotacaoRelacionamento.Id = listaLocais.length == 0 ? 1 : listaLocais[listaLocais.length - 1].Id + 1;

        listaLocais.push(cotacaoRelacionamento);

        _$locaisTable.jtable('addRecord', {
            record: cotacaoRelacionamento
                    , clientOnly: true
        });

        $('#locais').val(JSON.stringify(listaLocais));

        $('#cbo-Cotacoes-unidade-organizacional').val('').trigger('change');

    });

    function deleteLocal(local) {
        abp.message.confirm(
            app.localize('DeleteWarning', local.Descricao),
            function (isConfirmed) {
                if (isConfirmed) {


                    listaLocais = JSON.parse($('#locais').val());

                    for (var i = 0; i < listaLocais.length; i++) {
                        if (listaLocais[i].Id == local.Id) {
                            listaLocais.splice(i, 1);
                            $('#locais').val(JSON.stringify(listaLocais));

                            _$locaisTable.jtable('deleteRecord', {
                                key: local.Id
                            , clientOnly: true
                            });

                            break;
                        }
                    }
                }
            }
        );
    }



    ///////////////////////Grupos/////////////////////

    var _$gruposTable = $('#gruposTable');

    _$gruposTable.jtable({
        title: app.localize('Grupos'),
        //pageSize: 5,
        //paging: true,

        sorting: true,
        edit: false,
        create: false,
        multiSorting: true,
        selecting: true,
        selectingCheckboxes: true,

        //rowInserted: function (event, data) {

        //    // if (data.record.Name.indexOf('Andrew') >= 0) {
        //    _$gruposTable.jtable('selectRows', data.row);
        //    // }
        //},

        fields:
        {
            Id: {
                key: true,
                list: false
            },
            actions: {
                title: app.localize('Actions'),
                width: '7%',
                sorting: false,
                display: function (data) {
                    var $span = $('<span></span>');

                    $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-alt"></i></button>')
                      .appendTo($span)
                      .click(function (e) {
                          e.preventDefault();
                          deleteGrupo(data.record);
                      });

                    return $span;
                }
            },

            descricao: {
                title: app.localize('Grupo'),
                width: '10%',
                display: function (data) {
                    if (data.record) {

                        return data.record.Descricao;
                    }
                }
            },

            //IdGrid: {
            //    title: app.localize('IdGrid'),
            //    width: '10%',
            //    display: function (data) {
            //        if (data.record) {
            //
            //            return data.record.IdGrid;
            //        }
            //    }
            //},
        }
    });


    _$gruposTable.wrap('<div class="scroll-content sw-scroll" />');


    function getGruposTable(reload) {



        if (listaGrupos != undefined) {

            for (var i = 0; i < listaGrupos.length; i++) {

                _$gruposTable.jtable('deleteRecord', {
                    key: listaGrupos[i].Id
                    , clientOnly: true

                });
            }
        }

        if ($('#grupos').val() != '') {

            listaGrupos = JSON.parse($('#grupos').val());






            for (var i = 0; i < listaGrupos.length; i++) {
                var item = listaGrupos[i];
                _$gruposTable.jtable('addRecord', {
                    record: item
                    , clientOnly: true


                }



                );
            }
        }
    }

    $('#btnSalvarGrupo').on('click', function () {
        var cotacaoRelacionamento = { RelacionadoId: 0, Descricao: "" };

        var grupo = $('#cbo-Cotacoes-grupos').select2('data');
        if (grupo && grupo.length > 0) {
            cotacaoRelacionamento.Descricao = grupo[0].text;
        }
        cotacaoRelacionamento.RelacionadoId = $('#cbo-Cotacoes-grupos').val();

        if ($('#grupos').val() != '') {
            listaGrupos = JSON.parse($('#grupos').val());
        }

        cotacaoRelacionamento.Id = listaGrupos.length == 0 ? 1 : listaGrupos[listaGrupos.length - 1].Id + 1;

        listaGrupos.push(cotacaoRelacionamento);

        _$gruposTable.jtable('addRecord', {
            record: cotacaoRelacionamento
                    , clientOnly: true
        });

        $('#grupos').val(JSON.stringify(listaGrupos));

        $('#cbo-Cotacoes-grupos').val('').trigger('change');

    });

    function deleteGrupo(grupo) {
        abp.message.confirm(
            app.localize('DeleteWarning', grupo.Descricao),
            function (isConfirmed) {
                if (isConfirmed) {


                    listaGrupos = JSON.parse($('#grupos').val());

                    for (var i = 0; i < listaGrupos.length; i++) {
                        if (listaGrupos[i].Id == grupo.Id) {
                            listaGrupos.splice(i, 1);
                            $('#grupos').val(JSON.stringify(listaGrupos));

                            _$gruposTable.jtable('deleteRecord', {
                                key: grupo.Id
                            , clientOnly: true
                            });

                            break;
                        }
                    }
                }
            }
        );
    }


    ///////////////////////Turnos/////////////////////

    var _$turnosTable = $('#turnosTable');

    _$turnosTable.jtable({
        title: app.localize('Turno'),
        //paging: true,
        sorting: true,
        edit: false,
        create: false,
        multiSorting: true,
        selecting: true,
        selectingCheckboxes: true,

        //rowInserted: function (event, data) {
        //
        //    // if (data.record.Name.indexOf('Andrew') >= 0) {
        //    _$turnosTable.jtable('selectRows', data.row);
        //    // }
        //},

        fields:
        {
            Id: {
                key: true,
                list: false
            },
            actions: {
                title: app.localize('Actions'),
                width: '7%',
                sorting: false,
                display: function (data) {
                    var $span = $('<span></span>');

                    $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-alt"></i></button>')
                      .appendTo($span)
                      .click(function (e) {
                          e.preventDefault();
                          deleteTurno(data.record);
                      });

                    return $span;
                }
            },

            descricao: {
                title: app.localize('Turno'),
                width: '10%',
                display: function (data) {
                    if (data.record) {

                        return data.record.Descricao;
                    }
                }
            },

            //IdGrid: {
            //    title: app.localize('IdGrid'),
            //    width: '10%',
            //    display: function (data) {
            //        if (data.record) {
            //
            //            return data.record.IdGrid;
            //        }
            //    }
            //},
        }
    });

    _$turnosTable.wrap('<div class="scroll-content sw-scroll" />');

    function getTurnosTable(reload) {



        if (listaTurnos != undefined) {

            for (var i = 0; i < listaTurnos.length; i++) {

                _$turnosTable.jtable('deleteRecord', {
                    key: listaTurnos[i].Id
                    , clientOnly: true
                });
            }
        }

        if ($('#turnos').val() != '') {

            listaTurnos = JSON.parse($('#turnos').val());

            for (var i = 0; i < listaTurnos.length; i++) {
                var item = listaTurnos[i];
                _$turnosTable.jtable('addRecord', {
                    record: item
                    , clientOnly: true
                });
            }
        }
    }

    $('#btnSalvarTurno').on('click', function () {
        var cotacaoRelacionamento = { RelacionadoId: 0, Descricao: "" };

        var turno = $('#cbo-Cotacoes-turnos').select2('data');
        if (turno && turno.length > 0) {
            cotacaoRelacionamento.Descricao = turno[0].text;
        }
        cotacaoRelacionamento.RelacionadoId = $('#cbo-Cotacoes-turnos').val();

        if ($('#turnos').val() != '') {
            listaTurnos = JSON.parse($('#turnos').val());
        }

        cotacaoRelacionamento.Id = listaTurnos.length == 0 ? 1 : listaTurnos[listaTurnos.length - 1].Id + 1;

        listaTurnos.push(cotacaoRelacionamento);

        _$turnosTable.jtable('addRecord', {
            record: cotacaoRelacionamento
                    , clientOnly: true
        });

        $('#turnos').val(JSON.stringify(listaTurnos));

        $('#cbo-Cotacoes-turnos').val('').trigger('change');

    });

    function deleteTurno(turno) {
        abp.message.confirm(
            app.localize('DeleteWarning', turno.Descricao),
            function (isConfirmed) {
                if (isConfirmed) {


                    listaTurnos = JSON.parse($('#turnos').val());

                    for (var i = 0; i < listaTurnos.length; i++) {
                        if (listaTurnos[i].Id == turno.Id) {
                            listaTurnos.splice(i, 1);
                            $('#turnos').val(JSON.stringify(listaTurnos));

                            _$turnosTable.jtable('deleteRecord', {
                                key: turno.Id
                            , clientOnly: true
                            });

                            break;
                        }
                    }
                }
            }
        );
    }


    ///////////////////Tipos Leitos////////////////////

    var _$tiposLeitosTable = $('#tiposLeitosTable');

    _$tiposLeitosTable.jtable({
        title: app.localize('TipoLeito'),
        //paging: true,
        sorting: true,
        edit: false,
        create: false,
        multiSorting: true,
        selecting: true,
        selectingCheckboxes: true,

        //rowInserted: function (event, data) {
        //
        //    // if (data.record.Name.indexOf('Andrew') >= 0) {
        //    _$tiposLeitosTable.jtable('selectRows', data.row);
        //    // }
        //},

        fields:
        {
            Id: {
                key: true,
                list: false
            },
            actions: {
                title: app.localize('Actions'),
                width: '7%',
                sorting: false,
                display: function (data) {
                    var $span = $('<span></span>');

                    $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-alt"></i></button>')
                      .appendTo($span)
                      .click(function (e) {
                          e.preventDefault();
                          deleteTipoLeito(data.record);
                      });

                    return $span;
                }
            },

            descricao: {
                title: app.localize('TipoLeito'),
                width: '10%',
                display: function (data) {
                    if (data.record) {

                        return data.record.Descricao;
                    }
                }
            },

            //IdGrid: {
            //    title: app.localize('IdGrid'),
            //    width: '10%',
            //    display: function (data) {
            //        if (data.record) {
            //
            //            return data.record.IdGrid;
            //        }
            //    }
            //},
        }
    });

    _$tiposLeitosTable.wrap('<div class="scroll-content sw-scroll" />');

    function getTiposLeitosTable(reload) {



        if (listaTiposLeitos != undefined) {

            for (var i = 0; i < listaTiposLeitos.length; i++) {

                _$tiposLeitosTable.jtable('deleteRecord', {
                    key: listaTiposLeitos[i].Id
                    , clientOnly: true
                });
            }
        }

        if ($('#tiposLeitos').val() != '') {

            listaTiposLeitos = JSON.parse($('#tiposLeitos').val());

            for (var i = 0; i < listaTiposLeitos.length; i++) {
                var item = listaTiposLeitos[i];
                _$tiposLeitosTable.jtable('addRecord', {
                    record: item
                    , clientOnly: true
                });
            }
        }
    }

    $('#btnSalvarTipoLeito').on('click', function () {
        var cotacaoRelacionamento = { RelacionadoId: 0, Descricao: "" };

        var tipoLeito = $('#cbo-Cotacoes-tipo-leito').select2('data');
        if (tipoLeito && tipoLeito.length > 0) {
            cotacaoRelacionamento.Descricao = tipoLeito[0].text;
        }
        cotacaoRelacionamento.RelacionadoId = $('#cbo-Cotacoes-tipo-leito').val();

        if ($('#tiposLeitos').val() != '') {
            listaTiposLeitos = JSON.parse($('#tiposLeitos').val());
        }

        cotacaoRelacionamento.Id = listaTiposLeitos.length == 0 ? 1 : listaTiposLeitos[listaTiposLeitos.length - 1].Id + 1;

        listaTiposLeitos.push(cotacaoRelacionamento);

        _$tiposLeitosTable.jtable('addRecord', {
            record: cotacaoRelacionamento
                    , clientOnly: true
        });

        $('#tiposLeitos').val(JSON.stringify(listaTiposLeitos));

        $('#cbo-Cotacoes-tipo-leito').val('').trigger('change');

    });

    function deleteTipoLeito(tipoLeito) {
        abp.message.confirm(
            app.localize('DeleteWarning', tipoLeito.Descricao),
            function (isConfirmed) {
                if (isConfirmed) {


                    listaTiposLeitos = JSON.parse($('#tiposLeitos').val());

                    for (var i = 0; i < listaTiposLeitos.length; i++) {
                        if (listaTiposLeitos[i].Id == tipoLeito.Id) {
                            listaTiposLeitos.splice(i, 1);
                            $('#tiposLeitos').val(JSON.stringify(listaTiposLeitos));

                            _$tiposLeitosTable.jtable('deleteRecord', {
                                key: tipoLeito.Id
                            , clientOnly: true
                            });

                            break;
                        }
                    }
                }
            }
        );
    }


    ///////////////////Items////////////////////

    var _$itemsTable = $('#itemsTable');

    _$itemsTable.jtable({
        title: app.localize('Items'),
        //paging: true,
        sorting: true,
        edit: false,
        create: false,
        multiSorting: true,
        selecting: true,
        selectingCheckboxes: true,

        //rowInserted: function (event, data) {
        //
        //    // if (data.record.Name.indexOf('Andrew') >= 0) {
        //    _$tiposLeitosTable.jtable('selectRows', data.row);
        //    // }
        //},

        fields:
        {
            Id: {
                key: true,
                list: false
            },
            actions: {
                title: app.localize('Actions'),
                width: '7%',
                sorting: false,
                display: function (data) {
                    var $span = $('<span></span>');

                    $('<button class="btn btn-default btn-xs" title="' + app.localize('Delete') + '"><i class="fa fa-trash-alt"></i></button>')
                        .appendTo($span)
                        .click(function (e) {
                            e.preventDefault();
                            deleteItem(data.record);
                        });

                    return $span;
                }
            },

            descricao: {
                title: app.localize('Item'),
                width: '10%',
                display: function (data) {
                    if (data.record) {

                        return data.record.Descricao;
                    }
                }
            }
        }
    });

    _$itemsTable.wrap('<div class="scroll-content sw-scroll" />');

    function getItemsTable(reload) {
        if (listaItems != undefined) {

            for (var i = 0; i < listaItems.length; i++) {

                _$itemsTable.jtable('deleteRecord', {
                    key: listaItems[i].Id
                    , clientOnly: true
                });
            }
        }

        if ($('#items').val() != '') {

            listaItems = JSON.parse($('#items').val());

            for (var i = 0; i < listaItems.length; i++) {
                var item = listaItems[i];
                _$itemsTable.jtable('addRecord', {
                    record: item
                    , clientOnly: true
                });
            }
        }
    }

    $('#btnSalvarItem').on('click', function () {
        var cotacaoRelacionamento = { RelacionadoId: 0, Descricao: "" };

        var item = $('#cbo-Cotacoes-item').select2('data');
        if (item && item.length > 0) {
            cotacaoRelacionamento.Descricao = item[0].text;
        }
        cotacaoRelacionamento.RelacionadoId = $('#cbo-Cotacoes-item').val();

        if ($('#items').val() != '') {
            listaItems = JSON.parse($('#items').val());
        }

        cotacaoRelacionamento.Id = listaItems.length == 0 ? 1 : listaItems[listaItems.length - 1].Id + 1;

        listaItems.push(cotacaoRelacionamento);

        _$itemsTable.jtable('addRecord', {
            record: cotacaoRelacionamento
            , clientOnly: true
        });

        $('#items').val(JSON.stringify(listaItems));

        $('#cbo-Cotacoes-item').val('').trigger('change');

    });

    function deleteItem(item) {
        abp.message.confirm(
            app.localize('DeleteWarning', item.Descricao),
            function (isConfirmed) {
                if (isConfirmed) {
                    listaItems = JSON.parse($('#items').val());
                    for (var i = 0; i < listaItems.length; i++) {
                        if (listaItems[i].Id == item.Id) {
                            listaItems.splice(i, 1);
                            $('#items').val(JSON.stringify(listaItems));

                            _$itemsTable.jtable('deleteRecord', {
                                key: item.Id
                                , clientOnly: true
                            });

                            break;
                        }
                    }
                }
            }
        );
    }

</script>

<style>
    .scroll-content {
        overflow-y: auto;
        width: 100%;
    }

    .sw-scroll {
        max-height: 200px;
        height: auto;
    }

    .cotacao-percentual-label {
        display: block !important;
    }

    .cotacao-percentual-input {
        width: 80% !important;
    }
</style>