@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.TiposTabelaDominio.CriarOuEditarTipoTabelaDominioModalViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTipoTabelaDominio") + ": " + Model.Descricao) : L("CreateNewTipoTabelaDominio")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#TipoTabelaDominioInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("TipoTabelaDominio")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="TipoTabelaDominioInformationsTab">
                <form name="TipoTabelaDominioInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    @using (Html.Row())
                    {
                        Html.InputFor(m => m.Codigo, Model.Codigo, L("Codigo"), 3, required: true);
                    }
                    @using (Html.Row())
                    {
                        Html.InputFor(m => m.Descricao, Model.Descricao, L("Descricao"), 8, required: true);
                    }
                </form>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
