<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>atendimento</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.atendimento.atendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContaMedica</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.faturamento.ContaMedica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LotesEntregues_Sintetico</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.faturamento.LotesEntregues_Sintetico</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>PrescricaoMedica</servlet-name>
        <servlet-class>br.com.swme.swreport.rpt.assistencial.prescricaoMedica.PrescricaoMedica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendamentoCirurgico</servlet-name>
        <servlet-class>br.com.swme.swreport.rpt.atendimento.agendamentoCirurgico.AgendamentoCirurgico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitacaoAntimicrobiano</servlet-name>
        <servlet-class>br.com.swme.swreport.rpt.assistencial.solicitacaoAntimicrobiano.SolicitacaoAntimicrobiano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitacaoExame</servlet-name>
        <servlet-class>br.com.swme.swreport.rpt.assistencial.solicitacaoExame.SolicitacaoExame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapaDia</servlet-name>
        <servlet-class>br.com.swme.swreport.rpt.assistencial.MapaDia</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>EtiquetaLoteValidade</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.EtiquetaLoteValidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumoPorPaciente</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.ConsumoPorPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumoPorSetor</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.ConsumoPorSetor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucaoPorEstoque</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.DevolucaoPorEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucaoPorPaciente</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.DevolucaoPorPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerdaPorEstoque</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.PerdaPorEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaInventario</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.ListaInventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitacaoSaidaBaixa</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.SolicitacaoSaidaBaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitacaoSaida</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.SolicitacaoSaida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovimentacaoEstoque</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.Movimentacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acuracia</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.Acuracia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispensacao</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.Dispensacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmpDetalhado</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.CmpDetalhado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmpRequisicao</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.CmpRequisicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmpRequisicaoAprovada</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.CmpRequisicaoAprovada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UltimasCompras</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.UltimasCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UltimasComprasVsAtual</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.estoque.relatorios.UltimasComprasVsAtual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resultado</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.laboratorio.Resultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContasPagar</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.financeiro.ContasPagar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContasReceber</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.financeiro.ContasReceber</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>ContasPagarQuitacao</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.financeiro.ContasPagarQuitacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContasPagarGroupNome</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.financeiro.ContasPagarGroupNome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabEtiquetas</servlet-name>
        <servlet-class>br.com.smwe.swreport.rpt.laboratorio.LabEtiquetas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>atendimento</servlet-name>
        <url-pattern>/atendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrescricaoMedica</servlet-name>
        <url-pattern>/PrescricaoMedica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendamentoCirurgico</servlet-name>
        <url-pattern>/AgendamentoCirurgico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitacaoExame</servlet-name>
        <url-pattern>/SolicitacaoExame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapaDia</servlet-name>
        <url-pattern>/assistencial/MapaDiaSintatico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitacaoAntimicrobiano</servlet-name>
        <url-pattern>/SolicitacaoAntimicrobiano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContaMedica</servlet-name>
        <url-pattern>/ContaMedica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LotesEntregues_Sintetico</servlet-name>
        <url-pattern>/LotesEntregues_Sintetico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtiquetaLoteValidade</servlet-name>
        <url-pattern>/EtiquetaLoteValidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumoPorPaciente</servlet-name>
        <url-pattern>/EstoqueConsumoPorPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumoPorSetor</servlet-name>
        <url-pattern>/EstoqueConsumoPorSetor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucaoPorEstoque</servlet-name>
        <url-pattern>/EstoqueDevolucaoPorEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucaoPorPaciente</servlet-name>
        <url-pattern>/EstoqueDevolucaoPorPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerdaPorEstoque</servlet-name>
        <url-pattern>/EstoquePerdaPorEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UltimasCompras</servlet-name>
        <url-pattern>/EstoqueUltimasCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UltimasComprasVsAtual</servlet-name>
        <url-pattern>/EstoqueUltimasComprasVsAtual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitacaoSaidaBaixa</servlet-name>
        <url-pattern>/SolicitacaoSaidaBaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitacaoSaida</servlet-name>
        <url-pattern>/SolicitacaoSaida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovimentacaoEstoque</servlet-name>
        <url-pattern>/MovimentacaoEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acuracia</servlet-name>
        <url-pattern>/Acuracia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispensacao</servlet-name>
        <url-pattern>/Estoque/MapaDispensacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmpDetalhado</servlet-name>
        <url-pattern>/CmpDetalhado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmpRequisicao</servlet-name>
        <url-pattern>/CmpRequisicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmpRequisicaoAprovada</servlet-name>
        <url-pattern>/CmpRequisicaoAprovada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaInventario</servlet-name>
        <url-pattern>/ListaInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resultado</servlet-name>
        <url-pattern>/Resultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContasPagar</servlet-name>
        <url-pattern>/Financeiro/ContasPagar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContasReceber</servlet-name>
        <url-pattern>/Financeiro/ContasReceber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContasPagarQuitacao</servlet-name>
        <url-pattern>/Financeiro/ContasPagarQuitacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContasPagarGroupNome</servlet-name>
        <url-pattern>/Financeiro/ContasPagarGroupNome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabEtiquetas</servlet-name>
        <url-pattern>/Laboratorio/Etiquetas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
