@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Atendimentos.ModalEtiquetaPacienteViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EtiquetaPaciente")))

<script src="~/libs/PDFObject/pdfobject.js"></script>

<div class="modal-body container-fluid">
    <div class="row">
        <div class="col-md-12">
            @*<div id="EtiquetaPaciente" style="margin:0px; width:0px; height:0px; border:0px;"><h3 style="text-align: center;">Imprimindo...</h3></div>*@
            @*<div id="EtiquetaPaciente" style="margin:auto; width:90%; height:1000px; border:6px solid #6da6c6; border-radius: 5px;"></div>*@
            <div id="EtiquetaPacienteImprimindo" style="margin:auto; width:90%; height:95px; border:4px solid #6da6c6; border-radius: 5px;">
                <h5 style="text-align: center;">A Impressão está sendo preparada...</h5>
            </div>
        </div>
    </div>
</div>

<script>
    let caminho = "/Mpa/AtendimentoRelatorio/EtiquetaPaciente?atendimentoId=" + '@Model.AtendimentoId&numOfCopies='+@Model.NumOfCopies;
    $("#EtiquetaPacienteImprimindo").load(caminho, function (data) { 
        //printPdf(window.location.origin + '@(Url.Content("~/Temp/").ToString())' + data);
        document.querySelector("#EtiquetaPacienteImprimindo").innerHTML = '<h5 style="text-align: center;">A Impressão está sendo preparada...</h5>';
        setTimeout(() => { $('#fechar-modal').click(); }, 10000);
    }); 
</script>

