@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.AssistencialAtendimentoViewModel

@{
    var atendimento = Model.Atendimento;
}

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Novo"))

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">@L("TevMovimento")</div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <div id="tev-movimento-grid-@atendimento.Id"></div>
            </div>
            <div class="col-md-6">
                @Html.Partial("~/Areas/Mpa/Views/Aplicacao/Assistenciais/Medicos/Prescricoes/_formTevMovimento.cshtml",Model)
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
