<?xml version="1.0" encoding="utf-8"?>

<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        Injetar JS
      </Title>
      <Shortcut>ijs</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[@using (Html.InjetarJavascript()) { }]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
