@using Abp.Web.Mvc.Extensions
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Prescricoes.PrescricoesItens.CriarOuEditarSubItensPrescricaoViewModel
@Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/PrescricoesItens/_IndexSubItensPrescricao.js")
<div class="modal-body">
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-add-sub-item-prescricao">Adicionar</button>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:20px">
            <div class="col-md-12">
                <div id="subItensPrescricaoTable"></div>
            </div>
        </div>
    </div>
</div>
