@using SW10.SWMANAGER.Web.Navigation

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosAssistenciais.Prescricoes;
}

<div id="conteudo-criar"></div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#conteudo-criar').load('/mpa/prescricoesitens/_CriarOuEditarPartial/', { id: '@(ViewBag.Id)' });
        });
    </script>
}