@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Laboratorios.Equipamentos.CriarOuEditarEquipamentoModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit") + ": " + Model.Descricao) : L("CreateNew")))

<div class="modal-body container-fluid">

    <div class="tabbable-line container-fluid">
                <div class="portlet light margin-bottom-0">
                    <div class="portlet-body">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form name="EquipamentoInformationsForm" role="form" novalidate class="form-validation">

                                    @if (Model.IsEditMode)
                                    {
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                    }
                                    @using (Html.Row())
                                    {
                                        Html.InputFor(m => m.Codigo, Model.Codigo, L("Codigo"), 3, required: true);
                                    }
                                    @using (Html.Row())
                                    {
                                        Html.InputFor(m => m.Descricao, Model.Descricao, L("Descricao"), 8, required:true);
                                    }    
                                    @using (Html.Row())
                                    {
                                        Html.InputFor(m => m.TipoLayout, Model.TipoLayout == 0 ? "" : Model.TipoLayout.ToString(), L("TipoLayout"), 8, required: false);
                                    }    
                                    @using (Html.Row())
                                    {
                                        Html.InputFor(m => m.DiretorioOrdem, Model.DiretorioOrdem, L("DiretorioOrdem"), 12, required: false);
                                    }
                                    
                                    @using (Html.Row())
                                    {
                                        Html.InputFor(m => m.DiretorioResultado, Model.DiretorioResultado, L("DiretorioResultado"), 12, required: false);
                                    }
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</div>
</div>*@

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
