<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Publicacoes\SWManager\SW10.SWMANAGER.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Abp.Redis.Cache" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="localhost" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Abp.Redis.Cache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="localhost" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="American" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=AMERICAN;Integrated Security=False;User ID=sw;Password=Mar@18029511" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\American_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost; Database=AMERICAN; Trusted_Connection=false;User ID=sw;Password=Mar@18029511;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LIPP" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=LIPP;Integrated Security=False;User ID=sw;Password=Mar@18029511" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LIPP_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost; Database=LIPP; Trusted_Connection=false;User ID=sw;Password=Mar@18029511;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AmericanServer" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swmanager.smwe.com.br;Initial Catalog=AMERICAN;Integrated Security=False;User ID=sw;Password=Mar@18029511" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AmericanServer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=swmanager.smwe.com.br; Database=AMERICAN; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultServer" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swmanager.smwe.com.br;Initial Catalog=SWMANAGER;Integrated Security=False;User ID=sw;Password=Mar@18029511" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultServer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=swmanager.smwe.com.br; Database=SWMANAGER; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LIPPServer" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swmanager.smwe.com.br;Initial Catalog=LIPP;Integrated Security=False;User ID=sw;Password=Mar@18029511" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LIPPServer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=swmanager.smwe.com.br; Database=LIPP; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AMERICANASADB" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=externo.americancorhospital.com.br;Initial Catalog=ASADB;Integrated Security=False;User ID=tecnoarte;Password=rcfmm" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AMERICANASADB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=externo.americancorhospital.com.br; Database=ASADB; Trusted_Connection=False;User ID=tecnoarte;Password=rcfmm;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LIPPASADB" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=daniellipp.ddns.net,1444;Initial Catalog=ASASW;Integrated Security=False;User ID=tecnoarte;Password=rcfmm" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LIPPASADB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=daniellipp.ddns.net,1444; Database=ASASW; Trusted_Connection=False;User ID=tecnoarte;Password=rcfmm;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AmericanHomolog" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swtest.smwe.com.br;Initial Catalog=AMERICANHOMOLOGACAO;Integrated Security=False;User ID=sw;Password=Mar@18029511" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AmericanHomolog_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=swtest.smwe.com.br; Database=AMERICANHOMOLOGACAO; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultHomolog" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swtest.smwe.com.br;Initial Catalog=SWMANAGERHOMOLOGACAO;Integrated Security=False;User ID=sw;Password=Mar@18029511" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultHomolog_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=swtest.smwe.com.br; Database=SWMANAGERHOMOLOGACAO; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LIPPHomolog" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swtest.smwe.com.br;Initial Catalog=LIPPHOMOLOGACAO;Integrated Security=False;User ID=sw;Password=Mar@18029511" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LIPPHomolog_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=swtest.smwe.com.br; Database=LIPPHOMOLOGACAO; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Default" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SW10.SWMANAGER.EntityFramework.SWMANAGERDbContext, SW10.SWMANAGER.EntityFramework" MigrationConfiguration="SW10.SWMANAGER.Migrations.Configuration, SW10.SWMANAGER.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Abp.Redis.Cache-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)American-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AMERICANASADB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AmericanHomolog-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AmericanServer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Default-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultHomolog-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultServer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LIPP-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LIPPASADB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LIPPHomolog-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LIPPServer-Web.config Connection String" />
  </ItemGroup>
</Project>