@*@using Abp.Extensions
@using SW10.SWMANAGER.Web.Extensions

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.UnidadesOrganizacionais.TipoUnidadeOrganizacionalViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            @Html.DropDownListFor(x => x.PropriedadeSelecionada, Model.TiposUnidadeOrganizacional, new { @class = "edited chosen", id = "tipos-drop" })
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        // definindo tipo de unidade organizacional
        $('#tipos-drop').on('change', function (e) {

            var tipo = $(this).chosen().val();
            var checkId = '#' + tipo;
            var checkBox = $(checkId);

            $('.md-check').each(function () {

               
            });

            $(checkId).attr('checked', 'checked')



        });

    });

</script>*@
