<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!--Configuração para o máquina local-->
    <add name="American" connectionString="Server=localhost; Database=AMERICANHOMOLOGACAO; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" providerName="System.Data.SqlClient" />
    <add name="Default" connectionString="Server=localhost; Database=SWMANAGERHOMOLOGACAO; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" providerName="System.Data.SqlClient" />
    <!--<add name="Default" connectionString="Server=10.212.35.203; Database=SWMANAGER; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" providerName="System.Data.SqlClient" />-->
    <add name="LIPP" connectionString="Server=localhost; Database=LIPPHOMOLOGACAO; Trusted_Connection=False;User ID=sw;Password=Mar@18029511;" providerName="System.Data.SqlClient" />
    <add name="AMERICANASADB" connectionString="Server=50.112.238.211; Database=ASADBOLD; Trusted_Connection=False;User ID=tecnoarte;Password=rcfmm;" providerName="System.Data.SqlClient" />
    <add name="LIPPASADB" connectionString="Server=186.229.64.5,1444; Database=ASASW; Trusted_Connection=False;User ID=tecnoarte;Password=rcfmm;" providerName="System.Data.SqlClient" />
    <!--<add name="AsaDB" connectionString="Server=.\sqlexpress; Database=ASADB; Trusted_Connection=False;User ID=tecnoarte;Password=rcfmm;" providerName="System.Data.SqlClient" />-->
    <add name="Abp.Redis.Cache" connectionString="localhost" />
  </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>